@model _08_DatosControlador.Models.clsPersona

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PersonaModificada</title>
</head>
<body>
    <div>
        <label>@Model.ID</label> <br>
        <label>@Model.nombre</label> <br>
        <label>@Model.apellidos</label> <br>
        <label>@Model.edad</label>
    </div>
</body>
</html>
