@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PersonaModificada</title>
</head>
<body>
    <div>
        <label>@ViewBag.persona.ID</label> <br>
        <label>@ViewBag.persona.nombre</label> <br>
        <label>@ViewBag.persona.apellidos</label> <br>
        <label>@ViewBag.persona.edad</label>
    </div>
</body>
</html>
