
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListadoProductos</title>
</head>
<body>
    <div>
        @Html.ActionLink("About this Website", "About")
        <ul>
            <li>Pan</li>
            <li>Aceite</li>
            <li>Tomate</li>
            <li>Leche</li>
            <li>Cereales</li>
            <li>Cebolla</li>
        </ul>
    </div>
</body>
</html>
