
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <label>@ViewBag.State</label>
        <form method="post">
            <button type="submit">Conectar</button>
        </form>
    </div>
</body>
</html>
