<table>
    <thead>
        <th>Nombre</th>
        <th>Apellidos</th>
    </thead>
    <tbody>
        <tr>
            <th>Manuel</th>
            <th>Caballero Leiva</th>
        </tr>
        <tr>
            <th>Andrés</th>
            <th>Paredes Prada</th>
        </tr>
        <tr>
            <th>Ana María</th>
            <th>Leiva Cabeza</th>
        </tr>
    </tbody>
</table>
<a routerLink="formulario">Ir a formulario</a> <p></p>
<input type="button" value="Abrir Listado" (click)="navegarListado()" id="btnListado"/>